
body {
    font-family:        sans-serif;
}

img {
    border:             none;
}

a {
    color: #003399;
    text-decoration:    none;
}

a:visited {
    color: #003399;
    text-decoration:    none;
}

a:hover {
    color: #333333;
    text-decoration:    none;
}

.heading a {
    color:              #1d2222;
    text-decoration:    none;
}

.heading a:visited {
    color:              #1d2222;
    text-decoration:    none;
}

.heading a:hover {
    color:              #1d2222;
    text-decoration:    none;
}

.heading {
    background-color:   #ffffff;
    margin:             0px;
    padding:            8px;
}

.headingtitle {
    background-color:   #dde2e2;
    color:              #000000;
    font-size:          24pt;
    margin:             0px;
    padding:            8px;
    border-top:         thin solid #000000;
}

.headingdescription {
    color:              #6d7272;
    font-size:          12pt;
    margin:             0px;
    padding:            8px;
}

.item {
    background-color:   #ffffff;
    margin:             0px 15em 0px 0px;
    margin-top:         8px;
    padding:            8px;
}

.itemtitle {
    color:              #000000;
    font-size:          12pt;
    margin:             0px;
    padding-left:       8px;
    padding-right:      8px;
    border-bottom:      thin solid;
    text-align:         left;
}

.itemauthordate {
    width:              100%;
    margin:             0px;
    padding-left:       6px;
    padding-right:      6px;
    font-size:          6pt;
}

.itemauthor {
    margin:             0px;
    padding:            0px;
}

.itemdate {
    margin:             0px;
    padding:            0px;
    text-align:         right;
}

.itemdescription {
    background-color:   #edf2f2;
    font-size:          8pt;
    margin:             0px;
    padding:            8px;
    text-align:         justify;
}

.itemdescription a:hover {
    text-decoration:    underline;
}

.linkbar {
    font-size:          6pt;
    margin:             0px;
    padding:            8px;
}

.toc {
    background-color:   #edf2f2;
    color:              #1d2222;
    margin:             0px;
    padding:            8px;
    font-size:          10pt;
    position:           absolute;
    right:              32px;
    top:                11em;
    width:              15em;
}

.toc a:hover {
    margin-left:        0.2em;
}

.toc ul li {
    list-style:         none;
    margin:             0px;
    margin-left:        -3em;
    padding:            0px;
}

.logo {
    margin:             0px;
    padding:            0px;
    position:           absolute;
    right:              1em;
    top:                0.5em;
}

